<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Rental System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center">
        <h2 class="display-4">Car Rental System</h2>
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Go to Register</a>
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Go to Login</a>
    </div>
</body>
</html>